@font-face {
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: 900;
	font-style: italic;
    src: url('fonts/Montserrat-Italic-VariableFont_wght.ttf');
	src: url('fonts/Montserrat-Black.woff') format('woff');
	src: url('fonts/Montserrat-Black.ttf') format('ttf');
	src: url('fonts/Montserrat-Black.woff2') format('woff2');
    font-weight: normal;
    font-style: normal; 
}