body{
	margin: 0;
	background-color: black;

}

h1 {margin: 0;}



header{
	display: flex;
	margin: 2vw	 auto;
	justify-content: center;
	height: 5.4em;
	width: 98%;
	background-color: black;
	box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px #656565,
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}


.marginH2-header{
	display: flex;
	align-items: center;
	justify-items: center;
}

.header-div-icon{
	margin: 0;
	margin-right: 22%;
}


.header-div-icon-img{
	height: 6em;
}

.header-div-call{
	/*margin-left: 7vw;*/
	display: flex;
}

.header-div-text{display: flex;}
.header-div-text-h2{
	padding-left: 3vw;
	display: flex;
  justify-content: center;
}
.header-div-text-h2-call{
	padding-left: 3vw;
}
.header-h2{
	font-size: 1.5vw;
	font-family: Montserrat-BlackItalic;
	color: white;
	white-space: nowrap;
}

.header-h2-call{
	margin-top: 1vw;
	font-size: 1vw;
	font-family: Montserrat-BlackItalic;
	color: #ff3300;
	white-space: nowrap;
}

.header-infoPeklama{
	background-color: black;
	margin-top: 0.5vw;
	display: flex;
	justify-content: center;
	min-height: 13vw;
	padding-top: 0.5vw;
}

.header-infoPeklama-card{
	display: block;
	margin: 0vw 4vw;
}
.infoPeklama-card-h1{
	font-size: 2vw;
	color: #ff3300;
}
/* card 1 */
.infoPeklama-CardImageOne{
	margin-left: 5vw;
}

.infoPeklama-CardImageOne-img{
	width: 7vw;
}
/* card 2 */

.cardmarginone{
	margin-top: 1.5vw;
}

.infoPeklama-CardImageTwo{
	margin-left: 2vw;
}

.infoPeklama-CardImageTwo-img{
	width: 10vw;
}

/* card 3 */

.cardmarginThree{
	margin-top: 0.5vw;
}

.infoPeklama-CardImageThree{
	margin-left: 3.5vw;
}

.infoPeklama-CardImageThree-img{
	width: 7vw;
}

.header-div-text-h2-Yclygi-TextConteiner{
	margin-left: 2vw;
	margin-top: 1.3vw;
}

.header-div-text-h2-Yclygi-TextConteiner-h2{
	color: black;
}

.mobile-header{
	display: none;
}

@media only screen and (max-width: 950px) {
	.header-h2{font-size: 3vw}
	.header-div-text-h2{
		padding-left: 3vw;
		padding-right: 3vw;
	}
	.header-div-icon{
		margin-right: 1%;
}
}
@media only screen and (max-width: 860px) {
	.header-div-text-h2{
	padding-left: 2.8vw;
	padding-right: 2.8vw;
	}
	.header-h2{font-size: 3vw}
	.header-div-icon-img{
	height: 5.5em;
	}
}
@media only screen and (max-width: 825px) {
	header{
		justify-content: left;
	}
}

@media only screen and (max-width: 770px) {
	.header-pc-off{
		display: none;
	}

	.mobile-header{
		display: flex;
  	flex-direction: column;
  	justify-content: center;
	}

	.mobile-header-bannerOne{
		margin: 0 auto;
	}
	.mobile-header-bannerTwoAndThree{
		display: flex;
		flex-direction: row;
	}

	.infoPeklama-card-h1{
		font-size: 5.1vw;
	}
	.infoPeklama-CardImageOne-img{
		width: 19vw;
	}
	.infoPeklama-CardImageOne{
		margin-left: 0vw;
		text-align: center;
	}
	.infoPeklama-CardImageTwo{
		margin-left: 0vw;
		text-align: center;
	}
	.infoPeklama-CardImageTwo-img{
		width: 26vw;
	}
	.infoPeklama-CardImageThree{
		margin-left: 0vw;
		text-align: center;
	}
	.infoPeklama-CardImageThree-img{
		width: 17vw;
	}



}

















