a{
	text-decoration: none;
}

.conteiner{
	margin-top: 1vw;
	display: block;
	background-color: white;
	min-height: 29vw;
}

.conteiner-cardConteiner{
	display: flex;
	justify-content: center;
}

.conteiner-reklam-text-h1{
	margin: 0;
	font-size: 2.3vw;
}

.mainCard{
	width: 18vw;
	min-height: 24.6vw;
	border-radius: 0.3vw;
	border: 0.12vw solid black;
	position:relative;
	margin-left: 1.3vw;
	margin-right: 1.3vw;
	margin-top: 0.5vw;
}
.conteiner-cardYslygiName{
	width: 15vw;
	border-bottom: 0.1vw solid black;
}

.conteiner-cardYslygiName-h1{
	font-size: 1.5vw;
}

.conteiner-cardYslygiPages{
	width: 15vw;
	border-bottom: 0.1vw solid black;
}

.conteiner-cardYslygiPages-h1{
	font-size: 1.7vw;
}

.conteiner-cardYslygiTextinfo{
	margin-left: 0.3vw;
	text-align: left;
}

.conteiner-cardYslygiTextinfo-p{
	font-size: 1.2vw;
}

.conteiner-cardYslygiTime{
	width: 15vw;
	border-bottom: 0.1vw solid black;
	border-top: 0.1vw solid black;
}

.conteiner-cardYslygiTime-h2{
	font-size: 1.2vw;
	margin: 0;
	margin-top: 0.2vw;
	margin-bottom: 0.2vw;
}

.conteiner-cardYslygilink{
	width: 16vw;
	border-radius: 0.5vw;
	border: 0.2vw solid #ff3300;
}

.conteiner-cardYslygilink-a{
	color: #ff3300;
	text-decoration: none;
}

.conteiner-cardYslygilink-a-h1{
	font-size: 1.9vw;
}

.conteiner-cardYslygiPrice{
	margin-top: 0.5vw;
	margin-bottom: 0.5vw;
}

.conteiner-cardYslygiPrice-h1{
	font-size: 1.5vw;
}

.conteiner-margin-one{
	margin-top: 5.2vw;
}
.conteiner-margin-two{
	margin-top: 3.9vw;
}
.conteiner-margin-three{
	margin-top: 2.5vw;
}
.conteiner-margin-four{

}

.href-conteiner-consul-info{
	display: block;
	text-align: center;
	min-height: 14vw;
	margin-top: 1.6vw;
}

.href-conteiner-consul-info-button{
	margin: 0 auto;
	width: 22vw;
}

.href-conteiner-consul-info-button-a{
	text-decoration: none;
	color: white;
	margin: 0;
}

.href-conteiner-consul-info-button-h1{
	border: 0.2vw solid white;
	border-radius: 0.3vw;
	margin: 0;
	padding: 0.2vw;
	font-size: 1.7vw;
}

.href-conteiner-consul-info-conteiner{
	display: block;
	justify-content: center;
	color: #ff3300;
	margin-top: 2vw;
}

.href-conteiner-consul-info-conteiner-h1-one{
	font-size: 1.6vw;
}

.href-conteiner-consul-info-conteiner-h1-two{
	margin-top: 2vw;
	font-size: 1.6vw;
}









.conteiner-reklamodatelam{
	display: block;
	background-color: white;
}

.conteiner-reklamodatelam-margin-centerName{
	text-align: center;
}

.conteiner-reklamodatelam-name{
	padding-top: 1.1vw;
	font-size: 1.2vw;
}

.conteiner-reklamodatelam-name-two{
	font-size: 2vw;
	margin-top: 0.4vw;
	color: #ff3300;
}

.conteiner-reklamodatelam-nonCenter{

}

.conteiner-reklamodatelam-nonCenter-textOne{
	margin-left: 2vw;
}

.conteiner-reklamodatelam-nonCenter-textOne-h2{
	font-size: 1.6vw;
}	

.conteiner-reklamodatelam-nonCenter-textTwo{
	margin-left: 10vw;
}

.conteiner-reklamodatelam-nonCenter-textThree{
	margin-left: 18vw;
}

.conteiner-reklamodatelam-nonCenter-textThree-h4{
	margin: 0.2vw;
}

.conteiner-reklamodatelam-nonCenter-textFour{
	margin-left: 10vw;
}

.conteiner-reklamodatelam-nonCenter-LinkCall{
	margin-left: 5vw;
	text-align: center;
	width: 30vw;
}

.conteiner-reklamodatelam-nonCenter-LinkCall-a{
	text-decoration: none;
}

.conteiner-reklamodatelam-nonCenter-LinkCall-a-h1{
	border: 0.2vw solid #ff3300;
	border-radius: 0.3vw;
	color: #ff3300;
	margin-bottom: 0.5vw;
	font-size: 1.6vw;
}

.conteiner-reklamodatelam-nonCenter-LinkCall-nonVisible{
	font-size: 0vw;
}

.conteiner-contacts{
	display: block;
	text-align: center;
}

.conteiner-contacts-textName{

}

.conteiner-contacts-textName-h1{
	font-size: 2.6vw;
	color: white;
}

.conteiner-contacts-textInfo{
	margin-top: 1.3vw;
	color: white;
	display: flex;
	justify-content: center;
}

.conteiner-contacts-textInfo-h1{
	font-size: 1.8vw;
}

.conteiner-contacts-textInfo-a{
	color: white;
	text-decoration: none;
	font-size: 1.8vw;
}


footer{
	display: flex;
	min-height: 4vw;
}

@media only screen and (max-width: 1400px) {

}

@media only screen and (max-width: 1345px) {

}

@media only screen and (max-width: 1100px) {

}

@media only screen and (max-width: 990px) {

}

@media only screen and (max-width: 800px) {
    
}

@media only screen and (max-width: 770px) {



	.conteiner{
		min-height: 130vw;
	}
	.conteiner-reklam-text-h1{
		font-size: 5vw;
	}
	.conteiner-cardConteiner{
		display: flex;
		flex-wrap: wrap;
	}


	.mainCard{
		width: 44vw;
		min-height: 58vw;
	}

	.conteiner-cardYslygiName{
		width: 40vw;
	}
	.conteiner-cardYslygiName-h1{
		font-size: 3.9vw;
	}
	.conteiner-cardYslygiPages{
		width: 40vw;
	}
	.conteiner-cardYslygiPages-h1{
		font-size: 3.2vw;
	}

	.conteiner-cardYslygiTextinfo-p{
		font-size: 3vw;
	}
	.conteiner-cardYslygiTime{
		width: 40vw;
	}
	.conteiner-cardYslygiTime-h2{
		font-size: 3vw;
	}
	.conteiner-cardYslygiPrice-h1{
		font-size: 3vw;
	}
	.conteiner-cardYslygilink{
		width: 35vw;
	}
	.conteiner-cardYslygilink-a-h1{
		font-size: 4vw;
	}



	.conteiner-margin-one{
		margin-top: 15vw;
	}
	.conteiner-margin-two{
		margin-top: 8.2vw;
	}
	.conteiner-margin-three{
		margin-top: 8vw;
	}
	.conteiner-margin-four{
		margin-top: 4.6vw;
	}



	.href-conteiner-consul-info{
		min-height: 20vw;
	}

	.href-conteiner-consul-info-button{
		width: 50vw;
	}
	.href-conteiner-consul-info-button-h1{
		font-size: 4vw;
	}

	.href-conteiner-consul-info-conteiner-h1-one{
		font-size: 3.2vw;
	}

	.href-conteiner-consul-info-conteiner-h1-two{
		font-size: 3.2vw;
	}




	.conteiner-reklamodatelam-name{
		font-size: 2.3vw;
	}
	.conteiner-reklamodatelam-name-two{
		font-size: 4vw;
	}
	.conteiner-reklamodatelam-nonCenter-textOne-h2{
		font-size: 4vw;
	}
	.conteiner-reklamodatelam-nonCenter-LinkCall{
		width: 66vw;
	}
	.conteiner-reklamodatelam-nonCenter-LinkCall-a-h1{
		font-size: 4vw;
	}

}

@media only screen and (max-width: 640px) {

}