a{
	text-decoration: none;
}

.conteiner{
	margin-top: 1vw;
	display: block;
	background-color: white;
	min-height: 29vw;
}

.conteiner-cardConteiner{
	display: flex;
	justify-content: center;
}

.conteiner-reklam-text-h1{
	margin: 0;
	font-size: 2.3vw;
}

.mainCard{
	display: flex;
	flex-direction: column;
  
	width: 18vw;
	min-height: 24.6vw;
	border-radius: 0.3vw;
	border: 0.12vw solid black;
	position:relative;
	margin-left: 1.3vw;
	margin-right: 1.3vw;
	margin-top: 0.5vw;
}
.conteiner-cardYslygiName{
	margin: 0 auto;
	width: 15vw;
	border-bottom: 0.1vw solid black;
}

.conteiner-cardYslygiName-h1{
	font-size: 1.5vw;
}

.conteiner-cardYslygiPages{
	margin: 0 auto;
	width: 15vw;
	border-bottom: 0.1vw solid black;
}

.conteiner-cardYslygiPages-h1{
	font-size: 1.7vw;
}

.conteiner-cardYslygiTextinfo{
	margin-left: 0.3vw;
	text-align: left;
}

.conteiner-cardYslygiTextinfo-p{
	font-size: 1.2vw;
}

.conteiner-cardYslygiTime{
	width: 15vw;
	border-bottom: 0.1vw solid black;
	border-top: 0.1vw solid black;
}

.conteiner-cardYslygiTime-h2{
	font-size: 1.2vw;
	margin: 0;
	margin-top: 0.2vw;
	margin-bottom: 0.2vw;
	white-space: nowrap;
}

.conteiner-cardYslygilink{
	width: 16vw;
	border-radius: 0.5vw;
	border: 0.2vw solid #ff3300;
}

.conteiner-cardYslygilink-a{
	color: #ff3300;
	text-decoration: none;
}

.conteiner-cardYslygilink-a-h1{
	font-size: 1.9vw;
}

.conteiner-cardYslygiPrice{
	margin-top: 0.5vw;
	margin-bottom: 0.5vw;
}

.conteiner-cardYslygiPrice-h1{
	font-size: 1.3vw;
	white-space: nowrap;
}

.conteiner-margin-one{
	margin-top: 5.2vw;
}
.conteiner-margin-two{
	margin-top: 3.9vw;
}
.conteiner-margin-three{
	margin-top: 2.5vw;
}
.conteiner-margin-four{

}

.href-conteiner-consul-info{
	display: block;
	text-align: center;
	min-height: 14vw;
	margin-top: 1.6vw;
}

.href-conteiner-consul-info-button{
	margin: 0 auto;
	width: 22vw;
}

.href-conteiner-consul-info-button-a{
	text-decoration: none;
	color: white;
	margin: 0;
}

.href-conteiner-consul-info-button-h1{
	border: 0.2vw solid white;
	border-radius: 0.3vw;
	margin: 0;
	padding: 0.2vw;
	font-size: 1.7vw;
}

.href-conteiner-consul-info-conteiner{
	display: block;
	justify-content: center;
	color: #ff3300;
	margin-top: 2vw;
}

.href-conteiner-consul-info-conteiner-h1-one{
	font-size: 1.6vw;
}

.href-conteiner-consul-info-conteiner-h1-two{
	margin-top: 2vw;
	font-size: 1.6vw;
}









.conteiner-reklamodatelam{
	display: block;
	background-color: white;
}

.conteiner-reklamodatelam-margin-centerName{
	text-align: center;
}

.conteiner-reklamodatelam-name{
	padding-top: 1.1vw;
	font-size: 1.2vw;
}

.conteiner-reklamodatelam-name-two{
	font-size: 2vw;
	margin-top: 0.4vw;
	color: #ff3300;
}

.conteiner-reklamodatelam-nonCenter{

}

.conteiner-reklamodatelam-nonCenter-textOne{
	margin-left: 2vw;
}

.conteiner-reklamodatelam-nonCenter-textOne-h2{
	font-size: 1.6vw;
}	

.conteiner-reklamodatelam-nonCenter-textTwo{
	margin-left: 10vw;
}

.conteiner-reklamodatelam-nonCenter-textThree{
	margin-left: 18vw;
}

.conteiner-reklamodatelam-nonCenter-textThree-h4{
	margin: 0.2vw;
}

.conteiner-reklamodatelam-nonCenter-textFour{
	margin-left: 10vw;
}

.conteiner-reklamodatelam-nonCenter-LinkCall{
	margin-left: 5vw;
	text-align: center;
	width: 30vw;
}

.conteiner-reklamodatelam-nonCenter-LinkCall-a{
	text-decoration: none;
}

.conteiner-reklamodatelam-nonCenter-LinkCall-a-h1{
	border: 0.2vw solid #ff3300;
	border-radius: 0.3vw;
	color: #ff3300;
	margin-bottom: 0.5vw;
	font-size: 1.6vw;
}

.conteiner-reklamodatelam-nonCenter-LinkCall-nonVisible{
	font-size: 0vw;
}

.conteiner-contacts{
	display: block;
}

.conteiner-contacts-one{
	text-align: center;
}


.conteiner-contacts-one-h1{
	color: white;
	font-size: 3vw;
}

.conteiner-contacts-two{
	display: flex;
}

.conteiner-contacts-two-contacts{
	display: block;
}

.conteiner-contacts-two-imageDiv{
	display: block;
}

.conteiner-contacts-two-contacts-number{
	display: flex;
}

.conteiner-contacts-two-contacts-number-h3Div-h3{
	margin: 0;
	color: white;
	font-size: 1.3vw;
}

.conteiner-contacts-two-contacts-number-imgDiv{
	display: flex;
	margin-left: 0.5vw;
}

.conteiner-contacts-two-contacts-number-imgDiv-img{
	margin-left: 0.5vw;
	width: 2vw;
}

.conteiner-contacts-two-contacts-inst{
	display: flex;
	margin-top: 1vw;
}

.conteiner-contacts-two-contacts-inst-h3Div-h3{
	margin: 0;
	color: white;
	font-size: 1.3vw;
}

.conteiner-contacts-two-contacts-inst-imgDiv{
	text-align: center;
	margin-left: 1vw;
}

.conteiner-contacts-two-contacts-inst-imgDiv-img{
	width: 2vw;
}

.conteiner-contacts-two-imageDiv{
	text-align: center;
	margin-left: auto;
}

.conteiner-contacts-two-imageDiv-img{
	width: 5vw;
}

.conteiner-contacts-three{

}

.conteiner-contacts-three-h3{
	color: white;
}

.window-call-good{

}

footer{
	display: flex;
	background-color: white;
	justify-content: center;
	text-align: center;
	
}

.footer-conteiner{
	display: flex;

}

.footer-conteiner-imgDiv-img{
	width: 2.3vw;
	align-self: center;
}

.footer-conteiner-h1Div-h1{
	font-size: 2vw;
	margin: 0vw 1vw;
	color: black;

}





/*  Модальное окно   */

.modal {
	position: absolute;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: .3s;
	transition: .3s;
	top: -1000px;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1000;
	background: rgba(0, 0, 0, 0.9);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	  -ms-flex-pack: center;
	      justify-content: center;
	-webkit-box-align: start;
	  -ms-flex-align: start;
	      align-items: flex-start;
	overflow-y: scroll;
	padding: 60px 15px;
}

.modal_active {
	position: fixed;
	top: 0;
	visibility: visible;
	opacity: 1;
	-webkit-transition: .3s;
	transition: .3s;
}

.modal__content {
	width: 100%;
	max-width: 500px;
	padding: 50px;
	background: #f9f9f9;
	-webkit-box-shadow: 0 5px 15px black;
	      box-shadow: 0 5px 15px black;
	border-radius: 3px;
	position: relative;
}

.modal_content_center{
	display: flex;
	justify-content: center;
	text-align: center;
	flex-direction: column;
}

.modal__close-button {
	background: #ff0000;
	height: 30px;
	width: 30px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	  -ms-flex-pack: center;
	      justify-content: center;
	-webkit-box-align: center;
	  -ms-flex-align: center;
	      align-items: center;
	border: none;
	position: absolute;
	right: 0;
	top: 0;
	background: none;
	cursor: pointer;
	-webkit-transition: .3s;
	transition: .3s;
	outline: none;
}

.modal__close-button:hover {
	-webkit-transition: .3s;
	transition: .3s;
	-webkit-transform: rotate(180deg);
	      transform: rotate(180deg);
}

.modal__title {
	font-size: 1.8rem;
	text-transform: uppercase;
	margin: 0 0 15px;
}

.form-modal{

}

.form-conteiner-nameDiv{

}

.form-conteiner-teleDiv{
	margin-top: 1vw;
}

.form-conteiner-contH3{
	text-align: left;
}

.form-conteiner-contH3-h3{
	margin: 0.1vw;
 	margin-left: 2vw;
 	font-size: 1vw;
}

.form-conteiner-contInput{

}

.form-conteiner-contInput-input{
	width: 23vw;
	height: 2vw;
	border-width: 0.1vw;
	border-radius: 0.9vw;
	border-color: #ff3300;
	color: #ff3300;
	font-size: 1vw;
}

.form-conteiner-contInput-input:focus{
	border-width: 0.1vw;
	border-color: #ff3300;
	outline: none;
	outline-offset: 0;
}

.form-conteiner-contInput-input:hover{
	border-width: 0.1vw;
	border-color: #ff3300;
	outline: none;
	outline-offset: 0;
}

.form-conteiner-contInput-input:active{
	border-width: 0.1vw;
	border-color: #ff3300;
	outline: none;
	outline-offset: 0;
}

.modal_button_submit{
	margin-top: 1.2vw;
	width: 10vw;
	height: 2vw;
	border-radius: 1vw;
	font-size: 1vw;
}

.modal_secsesfull{
	display: none;
}

.modal_secsesfull_open{
	text-align: center;
}

.modal_secsesfull_img{
	width: 10vw;
}






footer{
	display: flex;
	min-height: 4vw;
}

@media only screen and (max-width: 1400px) {

}

@media only screen and (max-width: 1345px) {

}

@media only screen and (max-width: 1100px) {

}

@media only screen and (max-width: 990px) {

}

@media only screen and (max-width: 800px) {
    
}

@media only screen and (max-width: 770px) {

	.conteiner{
		min-height: 130vw;
	}
	.conteiner-reklam-text-h1{
		font-size: 8vw;
	}
	.conteiner-cardConteiner{
		display: flex;
		flex-wrap: wrap;
	}



	.mainCard{
		width: 44vw;
		min-height: 58vw;
	}



	.conteiner-cardYslygiName{
		width: 40vw;
	}
	.conteiner-cardYslygiName-h1{
		font-size: 3.9vw;
	}
	.conteiner-cardYslygiPages{
		width: 40vw;
	}
	.conteiner-cardYslygiPages-h1{
		font-size: 3.2vw;
	}
	.conteiner-cardYslygiTextinfo-p{
		font-size: 3vw;
	}
	.conteiner-cardYslygiTime{
		width: 40vw;
	}
	.conteiner-cardYslygiTime-h2{
		font-size: 3vw;
	}
	.conteiner-cardYslygiPrice-h1{
		font-size: 3vw;
	}
	.conteiner-cardYslygilink{
		width: 35vw;
	}
	.conteiner-cardYslygilink-a-h1{
		font-size: 4vw;
	}



	.conteiner-margin-one{
		margin-top: auto;
	}
	.conteiner-margin-two{
		margin-top: auto;
	}
	.conteiner-margin-three{
		margin-top: auto;
	}
	.conteiner-margin-four{
		margin-top: auto;
	}




	.href-conteiner-consul-info{
		min-height: 20vw;
	}
	.href-conteiner-consul-info-button{
		width: 50vw;
	}
	.href-conteiner-consul-info-button-h1{
		font-size: 4vw;
	}

	.href-conteiner-consul-info-conteiner-h1-one{
		font-size: 3.2vw;
	}

	.href-conteiner-consul-info-conteiner-h1-two{
		font-size: 3.2vw;
	}




	.conteiner-reklamodatelam-name{
		font-size: 3vw;
	}
	.conteiner-reklamodatelam-name-two{
		font-size: 4vw;
	}
	.conteiner-reklamodatelam-nonCenter-textOne-h2{
		font-size: 4vw;
	}
	.conteiner-reklamodatelam-nonCenter-LinkCall{
		width: 66vw;
	}
	.conteiner-reklamodatelam-nonCenter-LinkCall-a-h1{
		font-size: 4vw;
	}
	



	.form-conteiner-contH3-h3{
		margin: 0.1vw;
	 	margin-left: 4vw;
	 	font-size: 4vw;

	}
	.form-conteiner-contInput-input{
		height: 7vw;
		width: 70vw;
		border-radius: 4vw;
		font-size: 4vw;
	}
	.form-conteiner-contInput-input::placeholder{
		font-size: 4vw;
	}

	.modal_button_submit{
		width: 30vw;
		height: 12vw;
		border-radius: 3vw;
	}

	.modal_button_submit-button{
		font-size: 3.5vw;
	}


	.conteiner-contacts-one-h1{
		font-size: 6vw;
	}

	.conteiner-contacts-two-contacts-inst-h3Div-h3{
		font-size: 6vw;
	}
	.conteiner-contacts-two-contacts-number-h3Div-h3{
		font-size: 6vw;
	}

	.conteiner-contacts-two-imageDiv{
		margin-left: 10vw;
	}

	.conteiner-contacts-two-contacts-number-imgDiv-img{
		width: 8vw;
	}
	.conteiner-contacts-two-contacts-inst-imgDiv-img{
		width: 8vw;
	}

	.footer-conteiner-h1Div-h1{
		font-size: 5vw;
		margin: 0vw 4vw;
	}

	.conteiner-contacts-two-imageDiv-img{
		width: 10vw;
	}


}

@media only screen and (max-width: 640px) {

}